logs/**/*
!.gitkeep
.ssl
tmp
.DS_Store
.idea
oldSwaggerDoc.yaml
*.log
*.[oa]
*.sublime-project
*.sublime-workspace
coverage/
node_modules/
bower_components/
.tmp/
generator-swaggerize-tna/
# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml
Questions.txt
